{% extends 'n/liheader.html' %}

{% block content %}
<br>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'course_list' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ categ.name }}</li>
  </ol>
</nav>
<br>
        <center><h1><b>{{ categ.name }}</b></h1></center>

<div class="container shadow">

        <div class="card-columns">
                {% for i in cours %}
            {% ifequal categ.id i.category.id %}
        <div class="card">
		        <a href="{% url 'course_detail' pk=i.pk %}">

                     {%if i.picture%}
                    <img class="card-img-top" src={{i.picture}} alt="Card image cap">
                    {%else%}
                    <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="Card image cap">
                    {%endif%}
                    </a>

			    <div class="card-body">
			    	<h5 class="card-title"><a href="{% url 'course_detail' pk=i.pk %}">{{ i.name }} </a></h5>
			    	<p class="card-text">{{i.description}} </p>

			    </div>
			    <div class="card-footer">
			          <a href="{% url 'inst_course_list' pk=i.inst.id %}">{{ i.inst.name }} {{i.inst.surname}}</a>
			    </div>
	        </div>
	{% endifequal %}

                {% endfor %}
			</div>

		</div>

{% endblock %}


