{% extends 'n/liheader.html' %}

{% block content %}
<br>
<div class="container shadow">

        <div class="card-columns">
                {% for i in courses %}


		    <div class="card">
		        <a href="{% url 'course_detail' pk=i.pk %}">
                    <img class="card-img-top" src="http://via.placeholder.com/286x180" alt="Card image cap">
                    </a>

			    <div class="card-body">
			    	<h5 class="card-title"><a href="{% url 'course_detail' pk=i.pk %}">{{ i.name }} </a></h5>
			    	<p class="card-text">{{details}}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui rerum dolor atque quibusdam quidem in ratione nobis repellat
					consequatur ab fuga harum minus vero ad debitis laudantium </p>

			    </div>
			    <div class="card-footer">
			          <a href="{% url 'inst_course_list' pk=i.inst.id %}">{{ i.inst.name }} {{i.inst.surname}}</a>
			    </div>
	        </div>


                {% endfor %}
			</div>

		</div>

{% endblock %}