{% load staticfiles %}
{% include 'header.html' %}

<style>

    a {
        color:white;
    }
</style>

<body >
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: grey;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.discordapp.com/attachments/380829110114582535/430792605048111104/logo.png" height="40" width="40"/>
            </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse float-right"
            id="navcol-1">
            <ul class="nav navbar-nav ml-auto" style="float:right ">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'logout' %}">Log out</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href=>--{{use.name}}--</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'chat1' %}">Messages</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'category_list' %}">Categories</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'course_list' %}">All Courses</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'enroll_list' %}">Enrolled Courses</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'course' %}">Create Course</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'mycourse' %}">Lessons Taught</a></li>
            </ul>
        </div>
    </div>
</nav>

</body>

{%include 'n/chatfooter.html' %}
