{% for i in chat %}

                        {% if use == i.sender %}
                        <div class="lead bg-light">{{i.sender.name }}  {{i.sender.surname }}</div>
                        <li class="border-0 text-right list-group-item bg-light">
                        <div class="float-right rounde border-primary bg-primary px-5 py-2">
                            {{i.message}}
                            </div>
                            </li>
                            {% endif %}

                        {% if use != i.sender %}
                        <div class="lead bg-light">{{i.sender.name }}  {{i.sender.surname }}</div>
                        <li class="border-0 text-left list-group-item bg-light">
                        <div class="float-left rounde border-primary bg-primary px-5 py-2">
                            {{i.message}}
                            </div>
                            </li>
                            {% endif %}

                        {% empty %}
                        <li class="text-right list-group-item">No messages yet!</li>
                {% endfor %}